* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


.chart_long,
.chart_short,
.DOM_hsFix {
  height: 300px;

}
.chart_long{
  z-index: 2;
}
.chart_short{
  z-index: 1;
}
.prd_vlu{
  width: 80px;
  position: absolute;
  background-color: #16a34a;
  z-index: 999;
}

.DOM_predict,
.DOM_value {
  width: 100%;
  height: 30px;
  line-height: 30px;
  text-align: center;
  font-size: 24px;
}

  .progress-bar {
    transition: width 1.2s ease;
  }



.buy { color: #16a34a; font-weight: bold; }
.sell { color: #dc2626; font-weight: bold; }

.up { color: #16a34a; }
.down { color: #dc2626; }

.profit { color: #16a34a; font-weight: bold; }
.loss { color: #dc2626; font-weight: bold; }
