* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


.chart_long,
.chart_short,
.DOM_hsFix {
  height: 300px;

}


.DOM_predict,
.DOM_value {
  width: 100%;
  height: 30px;
  line-height: 30px;
  text-align: center;
  font-size: 32px;
  border: 1px solid #ccc;
  margin-bottom: 5px;
}

  .progress-bar {
    transition: width 1.2s ease;
  }



.buy { color: #16a34a; font-weight: bold; }
.sell { color: #dc2626; font-weight: bold; }

.up { color: #16a34a; }
.down { color: #dc2626; }

.profit { color: #16a34a; font-weight: bold; }
.loss { color: #dc2626; font-weight: bold; }
